.titulo {
    display: flex;
    margin-left: 5rem;
    margin-top: 1.875rem;
    margin-right: 23.75rem;
    justify-content: space-between;
}

.titulo > h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.758rem;
    color: #545F71;
}

.buttonTurma {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7.125rem;
    height: 3rem;
    background-color: #545F71;
    color: white;
    border-radius: 0.375rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.buttonTurma > span {
    margin-left: -1.875rem;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-left: 385px;
    margin-top: 20px;
}

.card {
    width:  37.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #EEF1F4;
    border-radius: 1.25rem;
    padding: 1.25rem;
}

.info > p {
    margin-bottom: 1.563rem;
    font-weight: 600;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.cardButtons {
    display: flex;
    flex-direction: column;
}

.botao {
    width: 5.188rem;
    height: 3rem;
    color: #545F71;
    background-color: #EEF1F4;
    border-radius: 0.375rem;
    border: 0.125rem solid  #545F71;
    margin-bottom: 0.625rem;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------------*/
@media(min-width: 1300px) {
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        gap: 40rem;
    }
    
    .content{
        margin-left: 0;   
        margin-right: 0;
        align-self: center;     
    }
 }




@media(max-width: 1300px) {
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titulo {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        gap: 40rem;
    }
    
    .content{
        margin-left: 0;   
        margin-right: 0;
        align-self: center;     
    }
 }

 @media(max-width: 886px) {
    .titulo {
        gap: 20rem;
    }
 }


 @media(max-width: 630px) {
    .titulo {
        gap: 10rem;
    }

    .card {
        width: 25rem;
    }
 }

 @media(max-width: 630px) {
    .titulo {
        gap: 5rem;
    }

    .card {
        width: 20rem;
    }
 }