.center {
    display: flex;
    justify-content: center;
}


.formLogin {
    width: 24.063rem;
    height: 17.25rem;
    margin-top: 9.375rem;
    padding-top: 0.938rem;
    border-radius: 20px;
    border: 1px solid #545F71;
    background-color: #EEF1F4;
    
}

.formLogin > label {
    display: flex;
    padding: 0.313rem;
    margin-bottom: 0.225rem;
    margin-right: 19rem;
    color: #545F71;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.formLogin > input {
    width: 21.563rem;
    height: 3rem;
    display: flex;
    padding: 0.313rem;
    margin-bottom: 0.225rem;
    border-radius: 6px;
    border:  1px solid #545F71;
}

.formLogin > button {
    width: 4.625rem;
    height: 3rem;
    background-color: #545F71;
    color: white;
    padding: 12px 16px;
    margin-top: 35px;
    border-radius: 6px;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media (max-width: 480px) {
    html {
        font-size: 85%;
    }

    .formLogin > button {
        margin: auto;
    }
}

