.header {
    background-color: #EEF1F4;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40rem;
    align-items: center;
}

.header > h1 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.header > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.header > section > p {
    color: #545F71;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.botao {
    color: #545F71;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #EEF1F4;
    border: 2px solid #9BA5B7;
    width: 3.625rem;
    height: 2.188rem;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}

/*------------------------------------------------------------ */

@media (max-width: 1090px){
    .header {
        gap: 30rem;
    }
}

@media (max-width: 950px){
    .header {
        gap: 10rem;
    }
}

@media (max-width: 650px){
    .header {
        gap: 0rem;
    }

    .header > section {
        gap: 1rem;
    }
}

@media (max-width: 650px){
    .header {
        gap: 0rem;
    }

    .header > section {
        flex-direction: column;
        padding: 0.5rem;
        gap: 0.5rem;
    }
}
