.titulo {
    color: #545F71;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
    margin-left: 13.5rem;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

form {
    background-color: #EEF1F4;
    border: 1px solid #545F71;
    border-radius: 20px;
    width: 24.063rem;
    height: 27.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.8rem;
}

form > div > label {
    color: #545F71;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}


form > div > input {
    color: #545F71;
    font-size: 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #545F71;
    border-radius: 6px;
    width: 21.563rem;
    height: 3rem;
}



form > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.botao1:first-of-type {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #545F71;
    border-radius: 6px;
    width: 6.25rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
}

.botao:last-of-type {
    color: #545F71;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #EEF1F4;
    border: 2px solid #545F71;
    border-radius: 6px;
    width: 6.25rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
}

/*------------------------------------------------------- */

@media (max-width: 918px) {
    .titulo {
        text-align: center;
        margin-left: 0rem;
    }
}


@media (max-width: 456px) {
    .titulo {
        font-size: 1rem;
    }

    form {
        width: 20rem;
    }

    form > div > input{
        width: 18rem;
        height: 2.5rem;
    }
}


