.dropbtn {
    background-color: #FFFFFF;
    border: 1px solid #545F71;
    border-radius: 6px;
    width: 21.563rem;
    height: 3rem;
}

.dropbtn > section {
    color: #545F71;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.dropdown_content > ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.dropdown_content > ul > li {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown_content > ul > li:hover {
    color: blue;
}

/*---------------------------------------------------*/

@media(max-width: 456px){
    .dropbtn {
        width: 18rem;
      }
}