.title {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-left: 20rem;
    color:#545F71;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

.search {
    width: 37.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.search > div {
    display: flex;
    flex-direction: column;
}

.search > div > label {
    font-weight: 400;
    font-size: 0.875rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.188rem;
    color: #545F71;
    margin-bottom: 0.5rem;
}


.search > div > input {
    width: 29.938rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 0.063rem solid#545F71;
    font-size: 1rem;
}

.search > button {
    width: 6.313rem;
    height: 3rem;
    margin-top: 1.688rem;
    border-radius: 0.375rem;
    border: 0.125rem solid #545F71;
    background-color: white;
    color: #545F71;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.alunos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.infoAluno {
    display: flex;
    justify-content: space-between;
    width: 37.5rem;
    padding: 1rem;
    border-radius:  0.375rem;
    background-color:  #EEF1F4;
}

.infoAluno > div:first-of-type {
    display: flex;
    flex-direction: column;
}

.infoAluno > div > p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: #000000;
    margin-bottom: 0.625rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.infoAluno > div > p > span {
    color: #545F71;
}

.infoAluno > div > div {
    display: flex;
    gap: 1.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.026rem;
    color: #545F71;
}

.infoAluno > div:last-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7.125rem;
    height: 2.75rem;
    border: 0.063rem solid #545F71;
    border-radius: 0.375rem;
    padding: 0.640rem 0.313rem;
    background-color: #FFFFFF;
}


.infoAluno > div > span {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #545F71;
}

.infoAluno > div > input {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid #545F71;
    border-radius: 0.188rem;
}

.Buttons {
    width: 15.438rem;
    height: 3rem;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.butConfirma {
    width: 6.688rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #545F71;
    color: #EEF1F4;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.butCncelar {
    width: 6.688rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.125rem solid #545F71;
    background-color: #FFFFFF;
    color: #545F71;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------*/

@media(max-width: 1300px) {
    .title {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
}


@media(max-width: 682px) {
    .search {
        justify-content: center;
        gap: 2rem;
    }

    .search >div > input {
        width: 20rem;
    }

    .infoAluno {
        width: 30rem;
    }
}

@media(max-width: 528px) {
    .search {
        justify-content: center;
        gap: 1rem;
    }

    .search > div > input {
        width: 15rem;
    }

    .search > button {
        width: 5rem;
    }

    .infoAluno {
        width: 23rem;
    }
}



