.center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
}


.container {
    width: 72.5rem;
    margin-top: 1.875rem;
    margin-left: 5rem;
}

.container > h1 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #545F71;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1.875rem;
}

.content1 {
    width: 72.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1.25rem;
    background-color: #EEF1F4;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.ano, .turno, .serie {
    display: flex;
    flex-direction: column;
    gap: 0.438rem;
}

.ano > input {
    width: 21.563rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.063rem solid #545F71;
    color: #545F71;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.cadastraLabel {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #545F71;
    line-height: 1.188rem;
    
}


.discipline {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background-color: #EEF1F4;
    border-radius: 1.25rem;
    margin-bottom: 2.5rem;
}

.discipline > h2 {
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    line-height: 1.21rem;
    letter-spacing: 0.031rem;
    color: #545F71;
}

.content2 {
    display: flex;
    flex-direction: row;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.563rem;
    align-items: center;
}

.content2 > button {
    width: 7.75rem;
    height: 2.25rem;
    border-radius: 1.5rem;
    border: .125rem solid #9BA5B7;
    margin-left: 1.25rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    color: #545F71;
    cursor: pointer;
}

.content2 > button > span {
    color: #545F71;
    font-size: 0.875rem;
    font-weight: 600;
    margin-left: -1.875rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.disciplineSelecionadas {
    width: 29.063rem;
    height: 3.438rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    align-items: center;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.063rem solid #9BA5B7;
    color: #545F71;
    background-color: #FFFFFF;
}

.disciplineSelecionadas > p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.513rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.butRemove {
    width: 5.688rem;
    height: 2.188rem;
    border-radius: 1.5rem;
    border: 0.125rem solid #9BA5B7;
    color: #545F71;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
}

.alunos {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background-color: #EEF1F4;
    border-radius: 1.25rem;
    margin-bottom: 2.5rem;
}

.alunos > h2 {
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    line-height: 1.21rem;
    letter-spacing: 0.031rem;
    color: #545F71;
}

.butAlunos {
    width: 7.438rem;
    height: 3rem;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #545F71;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}


.butAlunos > span {
    margin-left: -1.875rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.alunosSelecionados {
    width: 29.063rem;
    height: 3.438rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    align-items: center;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.063rem solid #9BA5B7;
    color: #545F71;
    background-color: #FFFFFF;
}

.alunosSelecionados > p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.513rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contentButton {
    width: 15.438rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.butRegister {
    width: 6.688rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: none;
    background-color: #545F71;
    color: #EEF1F4;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.butCancel {
    width: 6.688rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.125rem solid #545F71;
    color: #545F71;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}


/*--------------------------------------------------------------------*/


@media(max-width: 1271px) {
    .content1 {
        width: 60rem;
        gap: 0.5rem;
    }

    .ano > input {
        width: 15rem;
    }

    .discipline {
        width: 60rem;
    }

    .alunos {
        width: 60rem;
    }
}


@media(max-width: 1063px) {
    .content1 {
        width: 50rem;
        gap: 1rem;
        justify-content: initial;
    }

    .ano > input {
        width: 15rem;
    }

    .discipline {
        width: 50rem;
    }

    .alunos {
        width: 50rem;
    }
}


@media(max-width: 890px) {
    .content1 {
        width: 40rem;
        gap: 3rem;
        justify-content: initial;
    }

    .ano > input {
        width: 10rem;
    }

    .discipline {
        width: 40rem;
    }

    .disciplineSelecionadas {
        width: 21rem;
    }

    .disciplineSelecionadas > p {
        font-size: 0.875rem;
    }

    .alunos {
        width: 40rem;
    }

    .butAlunos {
        width: 6rem;
        font-size: 0.875rem;
        gap: 1rem;
    }

    .alunosSelecionados {
        width: 22rem;
    }

    .alunosSelecionados> p {
        font-size: 0.875rem;
    }
}


@media(max-width: 736px) {
    .content1 {
        flex-direction: column;
        width: 25rem;
    }

    .ano > input {
        width: 20rem;
    }

    .discipline {
        width: 25rem;
    }

    .content2 {
        flex-direction: column;
        gap: 1rem;
        margin-right: 6rem;
    }

    .disciplineSelecionadas {
        width: 15rem;
    }

    .disciplineSelecionadas > button {
        font-size: 0.9rem;
        text-align: center;
    }

    .alunos {
        width: 25rem;
    }

    .alunosSelecionados {
        width: 15rem;
    }
    .contentButton {
        margin: 0;
    }
}


@media(max-width: 492px) {
    .container {
        margin-left: 2rem;
    }

    .content1 {
        flex-direction: column;
        width: 20rem;
        gap: 1.5rem;
    }

    .ano > input {
        width: 15rem;
    }

    .discipline {
        width: 20rem;
    }

    .content2 {
        flex-direction: column;
        gap: 1rem;
        margin-right: 4rem;
    }

    .disciplineSelecionadas {
        width: 15rem;
        margin-left: 0;
    }

    .disciplineSelecionadas > button {
        font-size: 0.9rem;
        text-align: center;
    }

    .alunos {
        width: 20rem;
        margin-bottom: 4rem;
    }

    .butAlunos {
        margin-left: 0;
    }

    .alunosSelecionados {
        width: 15rem;
        margin-left: 0;
    }
    .contentButton {
        margin: 0;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}