.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40rem;
    margin-top: 5rem;
}

.titulo > h1 {
    color: #545F71;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.botao {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #545F71;
    width: 10rem;
    height: 3rem;
    border-radius: 6px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.botao > img {
    width: 1.5rem;
    height: 1.5rem;
}

.lista {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

table {
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #545F71;
    width: 58rem;
    height: auto;
}


 /* ---------------------------------------------------------*/

/* # */
thead > tr > th:first-of-type {
    width: 4.5rem;
    height: 2.875rem;
}

tbody > tr > td:first-of-type {
    border-top: 1px solid #9BA5B7;
    width: 4.5rem;
    height: 3.375rem;
    text-align: center;
}

/* Nome */
thead > tr > th:nth-child(2) {
    width: 16.75rem;
    height: 2.875rem;
}

tbody > tr > td:nth-child(2) {
    border-top: 1px solid #9BA5B7;
    width: 16.75rem;
    height: 3.375rem;
    text-align: center;
}

/* User ID */
thead > tr > th:nth-child(3) {
    width: 6.875rem;
    height: 2.875rem;
}

tbody > tr > td:nth-child(3) {
    border-top: 1px solid #9BA5B7;
    width: 6.875rem;
    height: 3.375rem;
    text-align: center;
}


/* CPF */
thead > tr > th:nth-child(4) {
    width: 9.375rem;
    height: 2.875rem;
}

tbody > tr > td:nth-child(4) {
    border-top: 1px solid #9BA5B7;
    width: 9.375rem;
    height: 3.375rem;
    text-align: center;
}

/* Cargo */
thead > tr > th:nth-child(5) {
    width: 9.25rem;
    height: 2.875rem;
}

tbody > tr > td:nth-child(5) {
    border-top: 1px solid #9BA5B7;
    width: 9.25rem;
    height: 3.375rem;
    text-align: center;
}

/* Ações */
thead > tr > th:last-of-type {
    width: 11.813rem;
    height: 2.875rem;
}

tbody > tr > td:last-of-type {
    border-top: 1px solid #9BA5B7;
    width: 11.813rem;
    height: 3.375rem;
    text-align: center;
}
 /* ---------------------------------------------------------*/

 tbody > tr > td:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
 }


th {
    color: #545F71;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


td {
    color: #545F71;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.botao2 {
    color: #545F71;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border: 2px solid #9BA5B7;
    background-color: #FFFFFF;
    width: 4.438rem;
    height: 2.188rem;
    border-radius: 24px;
    cursor: pointer;
}

 /* ---------------------------------------------------------------*/

 @media(max-width: 962px) {
    .titulo {
        gap: 29rem;
    }

    table {
        width: 45rem;
    }

    td {
        font-size: 0.9rem;
    }

 }

 @media(max-width: 768px) {
    .titulo {
        gap: 19rem;
    }

    table {
        width: 35rem;
    }

    td {
        font-size: 0.7rem;
    }
 }


 @media(max-width: 602px) {
    .titulo {
        gap: 9rem;
    }

    table {
        width: 25rem;
    }

    td {
        font-size: 0.7rem;
    }


    tbody > tr > td:last-of-type {
        width: 8rem;
        height: 6rem;
    }

    .botao2 {
        width: 3rem;
    }
 }

 @media(max-width: 448px) {
    .titulo > h1 {
        font-size: 1rem;
    }

    .botao {
        width: 7rem;
        height: 2rem;
        padding: 0.5rem;
    }

    table {
        width: 15rem;
    }

    th {
        font-size: 0.7rem;
    }

    td {
        font-size: 0.5rem;
    }

    .botao2 {
        font-size: 0.7rem;
    }
 }
